.about {
  padding-top: 76px;
  margin-bottom: 110px;
  background-image: url("../../img/bg/about-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center -65px;

  @include viewport--md {
    margin-bottom: 82px;
    padding-top: 0;
    background-position: -350px -140px;
    background-size: auto;
  }

  @include viewport--sm {
    margin-bottom: 64px;
    background-position: -678px 440px;
  }
}
