.button {
  display: inline-block;
  font-family: "Roboto Condensed","Arial",sans-serif;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}
