.company {
  position: relative;
  padding-left: 180px;

  @include viewport--md {
    padding-left: 187px;
  }

  @include viewport--sm {
    padding-left: 0;
  }

  ::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -30px;
    width: 146px;
    height: 317px;
    background-image: url("../img/bg/company-bg-desktop@1x.jpg");
    background-repeat: no-repeat;

    @include retina {
      background-image: url("../img/bg/company-bg-desktop@2x.jpg");
      background-size: 294px auto;
    }

    @include viewport--md {
      top: 0;
      left: -32px;
      height: 361px;
      width: 166px;
      background-size: contain;
    }

    @include viewport--sm {
      content: none;
    }
  }
}

.company__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $dim-gray;

  @include viewport--md {
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 45px;
  }

  @include viewport--sm {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 39px;
  }
}

.company__content {
  height: 174px;
  margin-bottom: 20px;
  overflow: hidden;


  @include viewport--md {
    height: 203px;
    margin-bottom: 35px;
  }

  @include viewport--sm {
    height: 343px;
  }
}

.company__text {
  margin: 0;
  margin-right: 5px;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 22px;

  @include viewport--sm {
    margin-right: 0;
    margin-left: 3px;
    margin-bottom: 40px;
  }
}

.company__button {
  padding: 12px 50px;
  font-size: 14px;
  line-height: 16px;
  color: $color-blue;
  border: 1px solid $color-blue;
  background-color: $color-default-white;

  @include viewport--md {
    padding: 14px 50px;
  }

  &:hover {
    color: $color-default-white;
    background-color: $color-blue;
  }
}
