.feedback {
  padding-top: 90px;
  padding-bottom: 113px;
  background-image: url(../../img/bg/feedback-bg-desktop@1x.png);
  background-repeat: no-repeat;
  background-size: 91%;
  background-position: 174px -62px;
  background-color: $color-blue;

  @include retina {
    background-image: url("../img/bg/feedback-bg-desktop@2x.png");
    background-size: 3840px auto;
  }

  @include viewport--md {
    background-image: url("../img/bg/feedback-bg-tablet@1x.jpg");

    @include retina {
      background-image: url("../img/bg/feedback-bg-tablet@2x.jpg");
      background-size: 1540px auto;
    }
  }
}

.feedback__form {
  width: 50%;
  margin-left: auto;
  padding-left: 10px;
}
