.feedback {
  padding-top: 90px;
  padding-bottom: 78px;
  background-image: url("../img/bg/feedback-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 91%;
  background-position: 174px -62px;
  background-color: $color-blue;

  @include retina {
    background-image: url("../img/bg/feedback-bg-desktop@2x.png");
    background-size: 3840px auto;
  }

  @include viewport--lg {
    background-position: 0 150px;
  }

  @include viewport--md {
    padding-top: 80px;
    padding-bottom: 70px;
    background-image: none;
  }

  @include viewport--sm {
    padding-top: 29px;
    padding-bottom: 12px;
  }

  &--page {
    height: 100vh;
    padding: 10%;
  }
}

.feedback__form {
  width: 50%;
  margin-left: auto;
  padding-left: 13px;

  @include viewport--md {
    width: 590px;
    margin: 0 auto;
    padding-left: 0;
  }

  @include viewport--sm {
    width: 100%;
    margin: 0 auto;
  }
}
