.header {
  display: flex;
  align-items: center;
  min-height: 120px;
  margin: 0 auto;
  padding: 0 40px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: $color-default-black;

  @include viewport--md {
    min-height: 91px;
    padding: 0 25px;
  }

  @include viewport--sm {
    min-height: 73px;
    padding: 0 17px;
  }
}

.header__wrapper {
  display: flex;
  width: 100%;
  max-width: 1411px;
  margin: 0 auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;
}

.header__logo {
  @include viewport--sm {
    width: 38px;
    height: 38px;
  }
}
