.main-nav {
  @include viewport--md {
    padding-bottom: 12px;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  list-style: none;
}

.main-nav__item {
  margin-right: 50px;
  margin-bottom: 10px;

  @include viewport--md {
    margin-right: 22px;

    &--last {
      margin-right: -10px;
    }

    &--feedback {
      display: none;
      border: none;
    }
  }

  &--mail {
    margin-right: 90px;

    a {
      padding-left: 38px;
    }

    @include viewport--md {
      margin-right: 22px;
    }

    @include viewport--sm {
      margin-right: 11px;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.main-nav__link {
  position: relative;
  padding-left: 32px;
  text-align: center;

  &--button {
    padding: 12px 27px;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid $color-default-white;
  }

  &:hover {
    color: $regent-gray;
  }

  @include viewport--md {
    &:hover svg {
      fill: $color-default-white;
    }

    span {
      display: none;
    }
  }
}

.main-nav__link-icon {
  position: absolute;
  left: 0;
  top: 0;
  fill: $color-blue;

  @include viewport--md {
    width: 25px;
    height: 24px;
  }
}
