.social {
  display: flex;
  flex-wrap: wrap;
  max-width: 206px;
}

.social__link {
  display: inline-block;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }

  &:hover svg {
    border: 2px solid $color-blue;
    border-radius: 50%;
  }
}
