// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-black:                     #1b2d37;
$dim-gray:                        #666666;
$regent-gray:                     #788891;
$color-finlandia:                 #626962;
$color-silver:                    #c4c4c4;
$color-whisper:                   #ebebeb;
$color-blue:                      #00b2ff;

// Typography
//---------------------------------

$font-family--:                     "PT Mono", "Arial", sans-serif;

// Animation
//---------------------------------

$default-transition-settings:       0.3s ease;
$modal-transition-settings:         0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      768px;
$viewport--lg:                      1024px;
$viewport--xl:                      1440px;
$viewport--xxl:                     1920px;

// Retina
//---------------------------------

$retina-dpi:                        192dpi;
$retina-dppx:                       2dppx;
